/.idea/.gitignore
/.idea/discord.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shitass-PQ-chat.iml
/.idea/vcs.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/PythonProject.iml
/.idea/copilotDiffState.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/workspace.xml
/themes.json
/.idea/dictionaries/project.xml
/theme.json
/config.json
/configs.py
