/.idea/.gitignore
/.idea/discord.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shitass-PQ-chat.iml
/.idea/vcs.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/PythonProject.iml
/.idea/copilotDiffState.xml
/themes.json
